<%- include('../includes/head.ejs') %>
	</head>
	<body>
	<%- include('../includes/navigation.ejs') %>
	<main>
		<% if(products.length>0) { %>
		<ul>
			<% products.forEach(p => { %>
				<p><%= p.productData.title %> (<%= p.qty %>)</p>
				<form action = "/cart/delete/<%= p.productData.id %>" method = "POST">
					<button type="submit" class="btn">Delete</button>
				</form>
			<% }); %>
		<% } else { %>
		<h1> No products in Cart yet! </h1>
		<% } %>
	</main>
<%- include('../includes/end.ejs') %>
